/* The name of this file is main.css */
/* The function of this file is to beautify the website*/


.mapbox {
    height: 500px;
    width: 50vw;
}


.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.padding-table-columns td
{
    column-count: 2;
    column-gap: 50px;
}